@font-face {
  font-family: 'Helvetica Bold';
  src: url('/fonts/Helvetica Bold.ttf')  format('truetype');
}

@media(max-width: 768px) {
	html, body {
  	overflow-x: hidden !important;
	}
	body {
  	position: relative !important;
	}
}

body {
			background-color:black;
			color: white !important;
			font-size: 24px;
}

header {
	color: #7ad75d !important;

	text-align: center;
	top: 0;
	width: 100%;
	margin-bottom:50px;
	font-size: calc(.09259vw + 11.7px);
  letter-spacing: .01em;
  cursor: pointer;
  -webkit-transition: .2s color ease-in-out;
  -o-transition: .2s color ease-in-out;
  transition: .2s color ease-in-out;
  padding: 0 1rem;
  text-transform: uppercase;
}

header a {
	color: #7ad75d;
	font-family: "Helvetica Bold", Arial !important;
	font-size: calc(.09259vw + 11.7px);
  letter-spacing: .01em;
  cursor: pointer;
  -webkit-transition: .2s color ease-in-out;
  -o-transition: .2s color ease-in-out;
  transition: .2s color ease-in-out;
  padding: 0 1rem;
  text-transform: uppercase;
}


header img {
		width: 50%;
    height: auto;
    margin-top: 10%;
}

header span.mockup-link a:hover {
	color: white;
	text-decoration: none !important;
}

.artist-music {
	margin-top: 5%;
	margin-bottom: 5;
	width: 75%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

.artist-music iframe {
	margin-top:25px;
	margin-bottom:25px;
}

footer {
	display:flex;
	margin-bottom: 50px;
	margin-top: 100px;
}

#artist-socials, .artist-logo  {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:auto;
	text-align:center;

}

#artist-socials span,
header span {

	float: none !important;
}

#artist-socials	img {
		width: 30px !important;
		height: auto;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
