.example-class-selector {
	margin-top: 2em;
}


.project {

     margin-left: 20px;
}


.example-class-selector p {
	color: #CC00AA;
}

body {
			background-color:black;
			color: white !important;
			font-size: 24px;
}

header {
	color: #7ad75d;
}

header div.mockup-link:hover {
	color: white;
}

footer {
	display:flex;
}

#artist-socials,.artist-logo  {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:auto;
	text-align:center;

}

#artist-socials span {

	float: none !important;
}

#artist-socials	img {
		width: 30px !important;
		height: auto;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
